#center {
    width: 90%;
}
.card {
    background: #86addb;
    border: 3px solid #151751;
    border-radius: 15px;
    padding: 1%;
    font-family: "Arial Rounded MT Bold";
    font-size: 100%;
    color: #151751;
    width: 15%;
    text-align: center;
    margin: 1%;
}

.card > img {
    width: 98%;
    background: #d5e4f1;
    border: 2px solid #151751;
    border-radius: 10px;
    margin: 2% 0;
}

.card_name {
    font-size: 130%;
    font-weight: bold;
}

#all_cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (min-width: 693px) and (max-width: 1201px) {
    #center {
        font-size: 90%;
    }
    .card_name {
        font-size: 120%;
        font-weight: bold;
    }
}

@media screen and (max-width: 693px) {
    #center {
        font-size: 80%;
    }
    .card_name {
        font-size: 110%;
    }
}