#center {
    width: 70%;
}
.character {
    background: #86addb;
    border: 3px solid #151751;
    border-radius: 15px;
    padding: 1%;
    font-family: "Arial Rounded MT Bold";
    font-size: 100%;
    color: #151751;
    width: 27%;
    text-align: center;
    margin: 1%;
}

.character > img {
    width: 98%;
    background: #d5e4f1;
    border: 2px solid #151751;
    border-radius: 10px;
    margin: 2% 0;
}

.character_name {
    font-size: 160%;
    font-weight: bold;
}

#all_characters {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (min-width: 693px) and (max-width: 1201px) {
    #center {
        width: 80%;
        font-size: 90%;
    }
    .character_name {
        font-size: 140%;
    }
}

@media screen and (max-width: 693px) {
    #center {
        width: 90%;
        font-size: 80%;
    }
    .character_name {
        font-size: 120%;
    }
}