#center {
    width: 50%;
}

#left {
    width: 19%;
    padding: 0;
    background: none;
    border: none;
}

#right {
    width: 19%;
    padding: 0;
    background: none;
    border: none;

}

.block {
    text-align: center;
}

.inRight, .inLeft {
    background: rgba(223, 238, 251, 0.9);
    border: 3px solid #151751;
    border-radius: 10px;
    padding: 5%;
}

.firstInRight {
    margin-bottom: 3%;
}

.game_button, #chooseHero {
    background: #86addb;
    border: 1px solid #151751;
    border-radius: 7px;
    font-family: "Arial Rounded MT Bold";
    color: #151751;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1%;
    font-size: 110%;
}

.game_button:hover, #chooseHero:hover {
    background: #b0ceed;
}

#chooseHero:disabled {
    background: #849090;
    cursor: default;
}

/*#queueButton:disabled {
    background: #849090;
    cursor: default;
}*/

.game_button:focus, #chooseHero:focus {
    outline: none;
}

.game_button:disabled {
    background: #9ca8a8;
    cursor: default;
}

.margin_button {
    margin-right: 2%;
}

canvas {
    /*width: 100% !important;*/
    /*height: 100% !important;*/
}
.character {
    background: #86addb;
    border: 3px solid #151751;
    border-radius: 15px;
    padding: 1%;
    font-family: "Arial Rounded MT Bold";
    font-size: 100%;
    color: #151751;
    width: 27%;
    text-align: center;
    margin: 1%;
}

.character > img {
    width: 98%;
    background: #d5e4f1;
    border: 2px solid #151751;
    border-radius: 10px;
    margin: 2% 0;
}

.character_name {
    font-size: 160%;
}

#all_characters {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#chooseHeroText {
    margin: 3% 0;
    font-size: 130%;
}

#chooseHero {
    margin: 2% 0;
    font-size: 130%;
}

.chosen {
    background: #d1f4fb;
}

.underCursor:hover {
    background: #b0ceed;
    cursor: pointer;
}

.characterInGame {
    background: #86addb;
    border: 3px solid #151751;
    border-radius: 15px;
    padding: 3%;
    font-family: "Arial Rounded MT Bold";
    font-size: 100%;
    color: #151751;
    text-align: center;
    margin-bottom: 1%;
}

.characterInGame > img {
    width: 98%;
    border: 2px solid #151751;
    border-radius: 10px;
    margin: 2% 0;
}

.character_name {
    font-size: 130%;
    font-weight: bold;
}

#stepCountText {
    margin: 0 3%;
}

canvas {
    border: 3px solid #6d3f15;
}

#aboveGame {
    width: 65%;
    font-size: 115%;
}

#upDiv {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    padding-top: 0;
}

#downDiv {
    display: flex;
    justify-content: space-around;
}