#center {
    width: 30%;
}

#name_login {
    text-align: right;
}

#login {
    display: flex;
    justify-content: space-around;
}

#name_login, #person_login {
    width: 45%;
}

#name_login > div {
    margin: 2% 0;
    font-weight: bold;
    font-size: 110%;
}

.button_login {
    background: #86addb;
    border: 1px solid #151751;
    border-radius: 7px;
    font-family: "Arial Rounded MT Bold";
    color: #151751;
    font-weight: bold;
    cursor: pointer;
    width: 45%;
    margin-top: 1%;
}

.button_login:hover {
    background: #99b2d1;
}

.button_login:focus {
    outline: none;
}

.login_input {
    margin: 2% 0;
    border: 1px solid #151751;
    border-radius: 4px;
    font-family: "Arial Rounded MT Bold";
    color: #151751;
    width: 100%;
}

#button_div {
    display: flex;
    justify-content: space-around;
}

#error_login {
    text-align: center;
    color: red;
}