#center {
    width: 65%;
    padding: 2%;
}
.title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1%;
    font-size: 180%;
}

#probable {
    float: right;
}

@media screen and (min-width: 693px) and (max-width: 1201px) {
    #center {
        width: 75%;
        font-size: 90%;
    }
    .title {
        font-size: 160%;
    }
    #probable {
        width: 50%;
    }
}

@media screen and (max-width: 693px) {
    #center {
        width: 90%;
        font-size: 80%;
    }
    .title {
        font-size: 140%;
    }
    #probable {
        width: 30%;
    }
}