body {
    /*background: #020755;*/
    background-image: url(../img/вероятник2.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

header {
    background-image: url(../img/header3.png);
   /* background-color: #304d90;*/
    width: 99.5%;
    text-align: center;
    border: 3px solid #151751;
    padding-bottom: 0.5%;
    border-radius: 15px;
    height: 75px;
}

.inHeader {
    font-family: "Arial Rounded MT Bold";
    font-weight: bold;
    color: #c9a63b;
    text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}

#official_name {
    font-size: 300%;
}

#russian_name {
    font-size: 120%;
}

#center {
    width: 53.5%;
    height: 350%;
    background:#eafcff;
    border: 3px solid #151751;
    margin-top: 1%;
    margin-left: 22%;
    border-radius: 15px;
    padding: 1%;
}

#left {
    width: 18%;
    height: 350%;
    float: left;
    background: #eafcff;
    border: 3px solid #151751;
    margin-top: 1%;
    border-radius: 15px;
    padding: 1%;
}

#right {
    width: 18%;
    height: 350%;
    float: right;
    background: #eafcff;
    border: 3px solid #151751;
    margin-top: 1%;
    border-radius: 15px;
    padding: 1%;
}


#menu {
    display: flex;
    justify-content: center;
    height: 25px;
}
.main_menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: #304d90;
    margin: 0;
    border-left: 3px solid #151751;
    border-right: 3px solid #151751;
    border-bottom: 3px solid #151751;
    border-radius: 0 0 15px 15px;
}
.main_menu > li {
    display: flex;
    padding: 1.3% 1% 1%;
    border-right: 1px solid #151751;
    flex-grow: 1;
    align-items: stretch;
}
.main_menu > li > a {
    flex-grow: 1;
    margin: -10px;
    padding: 3%;
    text-decoration: none;
    text-align: center;
    font-family: "Arial Rounded MT Bold";
    font-size: 100%;
    color: #c9a63b;
    text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}
.main_menu > li:hover, .submenu > li > a:hover {
    background: #98a5b1;
}

.leftEdge {
    border-radius: 0 0 0 15px;
}
.rightEdge {
    border-radius: 0 0 15px 0;
    border-right: 1px solid #304d90 !important;
}




ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.main_menu > li {
    float: left;
    position: relative;
}
.submenu {
    display: block;
    position: absolute;
    height: 0;
    overflow: hidden;
    width: 100%;
    top: 100%;
    left: -3px;
    background: #304d90;
    border: 3px solid #151751;
    border-top: 1px solid #151751;
    transition: height 0.2s 0.1s ease-out;
}
.submenu > li {
    display: block;
    height: 32px;
}
.submenu > li > a {
    display: block;
    height: 20px;
    padding: 5%;
    text-decoration: none;
    text-align: center;
    font-family: "Arial Rounded MT Bold";
    font-size: 100%;
    color: #c9a63b;
    text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
    border-bottom: 1px solid #151751;
}
.main_menu > li:hover > .submenu {
    display: block;
    height: 125px;
}
