<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>DD&D</title>
    <link rel="stylesheet" href="css/general_style.css"/>
    <link rel="stylesheet" href="css/game_style.css"/>
    <link rel="shortcut icon" href="img/favicon.png" type="image/png" />
    <script type="text/template" id="characters">
        <span class="character_name"><b><%= name %></b></span><br>
        <image src="<%= image %>" alt="Picture"><br>
            <b>Качества: </b><%= description %><br>
            <b>Бонус: </b><%= bonus %><br>
            <b>Здоровье: </b><span><%= health %></span>
    </script>
    <script src="webjars/js-cookie/2.1.4/js.cookie.js"></script>
    <script src="webjars/jquery/3.3.1/jquery.js"></script>
    <script src="js/headerButtons.js"></script>
    <script src="js/game/phaser.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/game/game.js"></script>
    <script src="js/game/chooseHero.js"></script>
    <script src="js/game/queueState.js"></script>
</head>
<body>
<header>
    <div id="official_name" class="inHeader">
        Dungeons, Dungeons and more Dungeons
    </div>
    <div id="russian_name" class="inHeader">
        Подземелья, Подземелья и ещё Подземелья
    </div>
</header>
<div id="menu">
    <div id="only_menu">
        <ul>
            <li id="leftEdge"><a class="in_menu" href="game.html">Играть</a></li>
            <li><a class="in_menu" href="rules.html">Правила</a></li>
            <li><a class="in_menu" href="characters.html">Герои</a></li>
            <li><a class="in_menu" href="cards.html">Карточки</a></li>
            <li id="rightEdge"><a class="in_menu" href="connection.html">Обратная связь</a></li>
        </ul>
    </div>
</div>
<div id="general">
    <div id="center" class="block">
        <button id="queueButton" class="game_button">Искать противника!</button>
    </div>
</div>


<script type="text/javascript" src="js/lib/jquery.js"></script>
</body>
</html>

